@model List<Product>


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @if(TempData["success"]!=null){
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
                toastr.success('@TempData["success"]')
            </script>
        }
        <div class="row pt-4 pb-2">
            <div class="col-6">
                <h2 class="text-primary">
                    Product List
                </h2>
            </div>

            <div class="col-6 text-end">
                <a  class="btn btn-primary" asp-controller="Product" asp-action="Upsert">
                    <i class="bi bi-clipboard2-plus"></i> Create New Product
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>ListPrice</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            </thead>
            @* <tbody> *@
            @* @foreach(var obj in Model){ *@
            @*     <tr> *@
            @*         <td>@obj.Title</td> *@
            @*         <td>@obj.Description</td> *@
            @*         <td>@obj.ISBN</td> *@
            @*         <td>@obj.Author</td> *@
            @*         <td>@obj.ListPrice</td> *@
            @*         <td>@obj.Category.Name</td> *@
            @*         <td> *@
            @*             <div class="w-75 btn-group" role="group"> *@
            @*                 <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.ProductId" class="btn btn-primary mx-4"> *@
            @*                     <i class="bi bi-pencil-square"></i> Edit *@
            @*                 </a> *@
            @*                 <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.ProductId" class="btn btn-danger mx-4"> *@
            @*                     <i class="bi bi-trash-fill"></i> Delete *@
            @*                 </a> *@
            @*             </div> *@
            @*         </td> *@
            @*     </tr> *@
            @* } *@
            @* </tbody> *@
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/product.js"></script>
}
    

